﻿@model PassFix.ViewModels.EditUserClaimsWrap
    
<div class="header spacetop">Edit User Actions</div>
<div id="EditClaimsModal">
    @Html.Partial("_EditUserClaimsModal", Model)
</div>
<div class="actions">
    <div class="ui button left floated transparentbtn">
        <i class="circular checkmark teal inverted ui icon"></i>
    </div>
    <div class="ui grey cancel right button">
        Done
    </div>
</div>