﻿@model PassFix.Models.ApplicationUser

<div class="container spacetop">
    <div class="grid">
        <div class="column">
            <h3>Update Personal Details</h3>
            @using (Html.BeginForm("UpdatePersonalDetails", "UserManagement", FormMethod.Post, new {@class = "ui large form", id = "personalDetails"}))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.UserName, new {placeholder = "Username", name = "username", id = "username"})
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.FirstName, new {placeholder = "First name", name = "firstname", id = "firstname"})
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.Surname, new {placeholder = "Surname", name = "surname"})
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            @Html.TextBoxFor(x => x.PhoneNumber, new {placeholder = "Phone number", name = "phonenumber"})
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Update</div>
                </div>

                <div class="ui success message">
                    <div class="header">Update Successful</div>
                </div>
                <div class="ui error message">
                    <div class="header">Update Failed. Please try again later</div>
                </div>
            }
        </div>
        
        <div class="ui hidden divider"></div>

        
        <div class="column">
            <h3>Change Password</h3>
            @using (Html.BeginForm("ChangePassword", "UserManagement", FormMethod.Post, new {@class = "ui large form", id = "changepassword"}))
            {
                @Html.HiddenFor(x => x.Id)
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.CurrentPassword, new {placeholder = "Enter current Password", name = "currentpassword"})
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.NewPassword, new {placeholder = "Enter new password", name = "newpassword"})
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.NewPasswordConfirm, new {placeholder = "Confirm new password", name = "newpasswordconfirm"})
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Update</div>
                </div>

                <div class="ui success message">
                    <div class="header">Password successfully changed</div>
                </div>
                <div class="ui error message">
                    <div class="header">Invalid details entered</div>
                </div>
            }
        </div>
    </div>
</div>