﻿@model List<PassFix.Models.ApplicationUser>
    
<h1 class="spacetop">Registered Users</h1>
<div id="manageOtherUsers">
    @Html.Partial("_ManageOtherUsers", Model)
</div>

@section scripts
{
  <script src="/scripts/UserManagement/manageOtherUsers.js"></script>   
}
