﻿@model PassFix.ViewModels.ViewErrors

<div class="container spacetop">
    <div class="grid">
        <div class="column wider">
            <h1>Error Logs</h1>
        </div>
    </div>
    
    <table class="ui compact celled table highertable">
        <thead>
        <tr>
            <th class="two wide orderby arrowdown" data-type="2" data-orderby="TimeStamp">Date</th>
            <th class="nine wide">Message</th>
            <th class="two wide centered">Inner Ex</th>
            <th class="three wide orderby" data-type="2" data-orderby="User">User</th>
        </tr>
        </thead>
    </table> 
    <div id="auditSearchResults">
        @Html.Partial("_ViewErrorLogsResult")
    </div>
</div>

