﻿@model PassFix.ViewModels.ViewErrors
@using PassFix.Extensions
@using X.PagedList.Mvc

@Html.HiddenFor(x => x.OrderBy)
@Html.HiddenFor(x => x.NumberPerPage)
@Html.HiddenFor(x => x.CurrentPage)
<table class="ui compact celled table fixed lowertable">
    <tbody>
        @foreach (var error in Model.Page)
        {
            <tr>
                <td class="two wide">@error.DateCreated.ToString("dd/MM/yy") @error.DateCreated.ToString("hh:mmtt").ToLower()</td>
                <td class="nine wide">@error.Message</td>
                <td class="two wide text-center">
                    <a href="#" onclick="GetInnerException(@error.Id); return false;">View</a>
                </td>
                <td class="three wide">@(error.ApplicationUser == null ? "" : error.ApplicationUser.FirstName.ToTitleCase()) @(error.ApplicationUser == null ? "" : error.ApplicationUser.Surname.ToTitleCase())</td>
            </tr>
        }
    </tbody>
    <tfoot>
    <tr>
        @if (Model.ErrorLogs.Count == 0)
        {
            <th colspan="4">
                <div class="nomsg">No errors logged</div>
            </th>
        }
        else
        {
            <th colspan="4">
                <div class="ui left floated">
                    @Html.PagedListPager(Model.Page, page => Url.Action("GetErrorLogsPage", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
                <div class="ui floatright editfloat">
                    <select id="NumberPerPage" class="ui dropdown numberperpage">
                        <option  @(Model.NumberPerPage == 10 ? "selected" : "") value="10">10 per page</option>
                        <option  @(Model.NumberPerPage == 25 ? "selected" : "") value="25">25 per page</option>
                        <option  @(Model.NumberPerPage == 50 ? "selected" : "") value="50">50 per page</option>
                        <option  @(Model.NumberPerPage == 100 ? "selected" : "") value="100">100 per page</option>
                    </select>
                </div>
                <div class="clear"></div>
            </th>
        }
    </tr>
    </tfoot>
</table>