﻿
<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Apex</title>
    <link rel="stylesheet" type="text/css" href="/content/semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="/content/site.css">
    <link rel="stylesheet" type="text/css" href="/content/font-awesome.css">
    

    <script src="/scripts/lib/jquery/dist/jquery.js"></script>
    <script src="/scripts/jq-serialize.js"></script>
    <script src="/scripts/semantic.js"></script>
    <script src="/scripts/site.js"></script>
</head>
<body class="flexbox">
    <header>
        @if (!User.Identity.IsAuthenticated)
        {
            <div id="mainheader" class="ui inverted vertical masthead center aligned segment notprintable">
                <div class="ui container">
                    <div class="ui large secondary inverted pointing menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a id="bigtitle" class="item"><i class="configure icon"></i> Apex</a>
                        <div class="right item loginoptions">
                            <a id="loginbtn" class="ui inverted button showlogin">Log in</a>
                            <a id="registerbtn" class="ui inverted button showreg">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </header>

    <main class="flexbox-content">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="ui large top fixed hidden menu notprintable">
                <div class="ui container">
                    <a class="item">Apex</a>
                    <div class="right menu loginoptions">
                        <div class="item">
                            <a class="ui button">Log in</a>
                        </div>
                        <div class="item">
                            <a class="ui primary button">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div id="sideMenu" class="notprintable">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.Partial("_SideMenu")
            }
        </div>

        <div id="renderBody">
            @RenderBody()
        </div>

        <div id="popupMsg" class="ui basic modal message">
            <div class="header">Header</div>
            <div class="content">
                <p></p>
            </div>
            <div class="actions">
                <div class="ui cancel button">Ok</div>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer">Copyright - Iris Smart Technologies Ltd @DateTime.Today.Year</div>
    </footer>

    @RenderSection("scripts", required: false)

</body>

</html>
