﻿@{
    ViewData["Title"] = "Error";
}

<link type="text/css" rel="stylesheet" href="/Content/error.css"/>

<div class="errortitle">An Error Has Occurred</div>
<div class="robotbg text-centered">
    <img class="img-responsive" src="/images/robot.jpg" />
    <h1 class="msgmain">Houston, We Got A Problem!</h1>
    <div class="secondtxt">
        <div>Something seems to be wrong here.</div>
        <div>Give it another go and see if that fixes it.</div>
    </div>
    <div class="thirdtxt2">...In case the problem refuses to go away though, Please contact an admin!</div>
</div>
