﻿@using PassFix.Models.AccountViewModels
@model RegistrationModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="ui maincontainer text container">
    <div id="defaultdiv" class="regdiv ui text masthead text-center container">
        <h1 class="ui inverted header">
            Iris EPMS Manager
        </h1>
        <h2>When the AMU tool just won't do.</h2>
        <div class="ui huge primary button showlogin">Get Started <i class="right arrow icon"></i></div>
    </div>

    <div id="logindiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Log-in to your account
                </div>
            </h2>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "ui large form", id = "loginfrm" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.LoginViewModel.Email, new { Name = "email", placeholder = "E-mail address"})
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            @Html.PasswordFor(x => x.LoginViewModel.Password, new { placeholder = "Password", value = Model.LoginViewModel.Password, Name = "password" })
                        </div>
                    </div>
                    <div class="ui fluid large blue submit button">Login</div>
                </div>

                <div class="ui success message">
                    <div class="header">Login Successful</div>
                    <p>Welcome</p>
                </div>
                <div class="ui error message">
                    <div class="header">Login Failed</div>
                    <p>Invalid username or password</p>
                </div>
            }

            <div class="ui forgotpw basic animated button" tabindex="0">
                <div class="visible content">Forgot your password?</div>
                <div class="hidden content">
                    <span class="resetpw teal">Reset it</span>
                </div>
            </div>
        </div>
    </div>
    
    <div id="forgotdiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Reset my password
                </div>
            </h2>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "ui form", id = "forgotfrm" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.ForgotPasswordViewModel.Email, new { placeholder = "E-mail address", Name = "email" })
                        </div>
                    </div>
              
                    <div class="ui fluid large blue submit button">Reset</div>
                </div>
                
                <div class="ui success message">
                    <div class="header">An email has been sent to your registered address with instructions to reset your password</div>
                </div>
                <div class="ui error message">
                    <div class="header">Could not process request. Please try again later</div>
                </div>
            }
        </div>
    </div>
    
    <div id="requestdiv" class="regdiv ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                </span>
                <div class="content loginmsg">
                    Request a login account
                </div>
            </h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui large form", id = "requestfrm" }))
            {
                @Html.AntiForgeryToken()
                <div class="ui segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.Request.FirstName, new { placeholder = "First name", Name = "firstname" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            @Html.TextBoxFor(x => x.Request.Surname, new { placeholder = "Surname", Name = "surname" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="phone icon"></i>
                            @Html.TextBoxFor(x => x.Request.PhoneNumber, new { placeholder = "Phone number", Name = "phonenumber" })
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="envelope icon"></i>
                            @Html.TextBoxFor(x => x.Request.EmailAddress, new { placeholder = "E-mail address", Name = "emailaddress" })
                        </div>
                    </div>
                    <div class="field">
                        <label class="text-left">Brief introductory message</label>
                        @Html.TextAreaFor(x => x.Request.Message, new { placeholder = "Hello, this is Wole from Headquarters. We spoke earlier today.", Name = "message", rows = "3" })
                    </div>
                    <div class="ui fluid large teal submit button">Send request</div>
                </div>

                <div class="ui success message">
                    <div class="header">Request Successful</div>
                    <p>A message will be sent to your registered email after an admin handles your request</p>
                </div>
                <div class="ui error message">
                    <div class="header">Invalid registration info</div>
                    <p class="errormessage"></p>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")  
}