﻿@model PassFix.ViewModels.MenuModel

<link rel="stylesheet" type="text/css" href="/content/tools.css">
<link rel="stylesheet" type="text/css" href="/content/calendar.css">
<link rel="stylesheet" type="text/css" href="/content/xonomy.css">

@{
    ViewData["Title"] = "Tools";
}

<div class="tools">
    <div class="toolsbg">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
    </div>
    
    <div id="selectBranch" class="notprintable">
        <div id="branchNameCmb" class="ui floating dropdown labeled search icon button selectbranch">
            <i class="search icon"></i>
            <span class="text">Select branch name</span>
            <div class="menu">
                @foreach (var branch in Model.Branches)
                {
                    <div class="item" data-ip="@branch.Ip|@branch.BranchName" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchName</div>
                }
            </div>
        </div>
        
        <div id="branchCodeCmb" class="ui floating dropdown labeled search icon button selectbranch">
            <i class="search icon"></i>
            <span class="text">Or select branch code</span>
            <div class="menu">
                @foreach (var branch in Model.Branches)
                {
                    <div class="item" data-ip="@branch.Ip|@branch.BranchName" data-name="@branch.BranchName" data-code="@branch.BranchCode">@branch.BranchCode</div>
                }
            </div>
        </div>
    </div>

    <div id="workspace"></div>
</div>

<script src="/scripts/tools.js"></script>
<script src="/scripts/calendar.min.js"></script>
<script src="/scripts/UserManagement/manageUserRequests.js"></script>
<script src="/scripts/UserManagement/manageOtherUsers.js"></script>
<script src="/scripts/UserManagement/ManageSubclasses.js"></script> 
<script src="/scripts/UserManagement/manageMyAccount.js"></script>
<script src="/scripts/UserManagement/auditTrails.js"></script>
<script src="/scripts/Amu/xonomy.js"></script>
<script src="/scripts/amu/amu.js"></script>

