﻿@using PassFix.Models.NGRICAO

<div class="ui grid">
    @if (Model.EnrolProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">EnrolProfile Table <i class="icon chevron circle down"></i></h4>
            <table class="ui table definition topmargin5">
                <tbody>
                @foreach (var prop in typeof(LocEnrolProfileOld).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            <td>@(Model.EnrolProfile == null ? "" : prop.GetValue(Model.EnrolProfile, null))</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }

    @if (Model.DocProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">DocProfile Table <i class="icon chevron circle down"></i></h4>
            <table class="ui table definition topmargin5">
                <tbody>
                @foreach (var prop in typeof(LocDocProfile).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            <td>@(Model.DocProfile == null ? "" : prop.GetValue(Model.DocProfile, null))</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }


    @if (Model.PersoProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">PersoProfile Table <i class="icon chevron circle down"></i></h4>
            <table class="ui table definition topmargin5">
                <tbody>
                @foreach (var prop in typeof(LocPersoProfile).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            <td>@(Model.PersoProfile == null ? "" : prop.GetValue(Model.PersoProfile, null))</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }


    @if (Model.DocHolderMainProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">DocHolderMainProfile Table <i class="icon chevron circle down"></i></h4>
            <table class="ui table definition topmargin5">
                <tbody>
                @foreach (var prop in typeof(LocDocHolderMainProfile).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            <td>@(Model.DocHolderMainProfile == null ? "" : prop.GetValue(Model.DocHolderMainProfile, null))</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
    
    @if (Model.BioProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">DocHolderBioProfile Table <i class="icon chevron circle down"></i></h4>
            <table class="ui table topmargin5">
                <tbody>
                    <tr>
                        <td class="">
                            <h4 class="text-centered">Photo</h4>
                            @if (string.IsNullOrEmpty(Model.FaceString))
                            {
                                <div class="noface">No Face Found</div>
                            }
                            else
                            {
                                <img class="image ui centered" src="@Model.FaceString" />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            <h4 class="text-centered">Signature</h4>
                            @if (string.IsNullOrEmpty(Model.SignatureString))
                            {
                                <div class="nosig">No Signature Found</div>
                            }
                            else
                            {
                                <img class="image ui centered" src="@Model.SignatureString" />
                            }

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }

    @if (Model.DocHolderCustomProfile != null)
    {
        <div class="eight wide column full">
            <h4 class="ui header tablehead">DocHolderCustomProfile Table <i class="icon chevron circle down"></i></h4>
            <table class="ui table definition topmargin5">
                <tbody>
                @foreach (var prop in typeof(LocDocHolderCustomProfile).GetProperties())
                {
                    if (prop.PropertyType.IsPrimitive || prop.PropertyType.IsValueType || (prop.PropertyType == typeof(string)))
                    {
                        <tr>
                            <td class="five wide column">@prop.Name</td>
                            <td>@(Model.DocHolderCustomProfile == null ? "" : prop.GetValue(Model.DocHolderCustomProfile, null))</td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
    

</div>