﻿@using PassFix.Helpers
@model PassFix.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.DocNo)
    @Html.HiddenFor(x => x.BranchCode)
    <div class="spacebottom">
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td class="four wide column">First Name</td>
                    <td class="clearable">@Model.Passport.LocDocHolderMainProfile.Firstname</td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td class="clearable">@Model.Passport.LocDocHolderMainProfile.Surname</td>
                </tr>
                <tr>
                    <td>Middle Name</td>
                    <td class="clearable">@Model.Passport.LocDocHolderCustomProfile.Othername1</td>
                </tr>

                <tr>
                    <td>Place of Birth</td>
                    <td class="clearable">@Model.Passport.LocDocHolderMainProfile.Birthstate</td>
                </tr>

                <tr>
                    <td>Date of Birth</td>
                    <td class="clearable">@(Model.Passport.LocDocHolderMainProfile.Birthdate == null ? "" : Model.Passport.LocDocHolderMainProfile.Birthdate.Value.ToString("dd/MM/yyyy"))</td>
                </tr>

                <tr>
                    <td>App Reason</td>
                    <td>
                        <div class="field">
                            <select id="AppReason" name="appreason" class="ui disabled dropdown">
                                <option value="">Select reason</option>
                                @foreach (var reason in Model.AppReasons)
                                {
                                    <option @(Model.AppReason == reason.Id ? "selected" : "") value="@reason.Id">@reason.Name</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Doc Pages</td>
                    <td>
                        <div class="field">
                            <select id="DocPages" name="docpages" class="ui disabled dropdown">
                                <option value="">Select Pages</option>
                                <option @(Model.DocPages == "0" ? "selected" : "") value="0">32</option>
                                <option @(Model.DocPages == "1" ? "selected" : "") value="1">64</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr class="stagecodediv">
                    <td>Status (E)</td>
                    <td class="clearable">@(Helper.GetStageCodeDescription(Model.Passport.LocEnrolProfile.Stagecode))</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="spacebottom">
        <h4 class="ui header tablehead">Payment Details</h4>
        <table class="ui definition table">
            <tbody>
                <tr>
                    <td class="four wide column">Reference Number</td>
                    <td>
                        <div class="field">
                            <div class="ui input disabled">
                                @Html.TextBoxFor(x => x.RefId, new { placeholder = "Enter Reference Id" })
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>Application Id</td>
                    <td>
                        <div class="field">
                            <div class="ui input disabled">
                                @Html.TextBoxFor(x => x.AppId, new { placeholder = "Enter Application Id" })
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="eight wide column full">
        <h4 class="ui header tablehead">BioProfile From DocNo</h4>
        <table class="ui table">
            <tbody>
            <tr>
                <td class="eight wide column">
                    <h4 class="text-centered">Photo</h4>
                    @if (string.IsNullOrEmpty(Model.FaceCurrentString))
                    {
                        <div class="noface">No Face Found</div>
                    }
                    else
                    {
                        <img class="image ui centered" src="@Model.FaceCurrentString" />
                    }

                    <h4 class="text-centered">Signature</h4>
                    @if (string.IsNullOrEmpty(Model.SignatureCurrentString))
                    {
                        <div class="nosig">No Signature Found</div>
                    }
                    else
                    {
                        <img class="image ui centered" src="@Model.SignatureCurrentString" />
                    }
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
}
