﻿@model PassFix.ViewModels.Payment

<div class="container">
    <div class="grid">
        <div class="column spacebottom">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                <div>
                    @Html.Partial("_SearchPayment")
                </div>
            </div>
        </div>
        <div id="searchresults" class="column">
                    
        </div>
    </div>
</div>