﻿@model PassFix.ViewModels.Record

<div class="container">
    <div class="grid">
        <div class="column notprintable">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                <div id="searchbyform">
                    @Html.Partial("_SearchReissue")
                </div>
            </div>
        </div>
        <div class="ui hidden divider notprintable"></div>
        <div class="column biowide">
            <div id="searchresults">

            </div>
        </div>
        <div class="notprintable">
            @Html.Partial("_TestData", Model.TestInfo)
        </div>
    </div>
</div>