﻿@using PassFix.Helpers
@using PassFix.ViewModels
@model PassFix.ViewModels.Payment

<div class="column">
    <div class="ui segment">
        @using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
        {
            @Html.HiddenFor(x => x.Aid)
            @Html.HiddenFor(x => x.RefId)
            @Html.HiddenFor(x => x.OldDob)
            @Html.HiddenFor(x => x.OldExpiryDate)
            @Html.HiddenFor(x => x.OldFirstname)
            @Html.HiddenFor(x => x.OldProcessingoffice)
            @Html.HiddenFor(x => x.OldProcessingstate)
            @Html.HiddenFor(x => x.OldSex)
            @Html.HiddenFor(x => x.OldSurname)

            <table class="ui definition table nospacetop">
                <tbody>
                    <tr>
                        <td>Application Id</td>
                        <td class="clearable">@Model.Aid</td>
                    </tr>
                    <tr>
                        <td>Reference Id</td>
                        <td class="clearable">@Model.RefId</td>
                    </tr>
                        
                    @if (Model.AllowEdit)
                    {
                        <tr>
                            <td class="five wide column">First Name</td>
                            <td>
                                <div class="field">
                                    <div class="ui input disabled">
                                        @Html.TextBoxFor(x => x.Firstname, new { placeholder = "Enter Firstname", name = "firstname" })
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Surname</td>
                            <td>
                                <div class="field">
                                    <div class="ui input disabled">
                                        @Html.TextBoxFor(x => x.Lastname, new { placeholder = "Enter surname", name = "surname" })
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>Gender</td>
                            <td>
                                <div class="field">
                                    <select id="Sex" name="sex" class="ui genderdropdown disabled dropdown">
                                        <option value="">Select Gender</option>
                                        <option @(Model.Sex == "M" ? "selected" : "") value="M">Male</option>
                                        <option @(Model.Sex == "F" ? "selected" : "") value="F">Female</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td>
                                <div class="field">
                                    <div class="ui input disabled">
                                        <div id="dobcalendar" class="ui disabled calendar">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                @Html.TextBoxFor(x => x.Dob, new { placeholder = "Date of Birth", Name = "dob" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        if (Model.IsAdmin)
                        {
                            <tr>
                                <td>Expiry Date</td>
                                <td>
                                    <div class="field">
                                        <div class="ui input disabled">
                                            <div id="dobcalendar2" class="ui disabled calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    @Html.TextBoxFor(x => x.Expirydate, new { placeholder = "Expiry Date", Name = "expirydate" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Processsing State</td>
                                <td>
                                    <div class="field">
                                        <select id="Processingstate" name="processingstate" class="ui disabled dropdown">
                                            <option value="">Select State</option>
                                            @foreach (ProcessingState state in ViewBag.States)
                                            {
                                                <option @(state.StateId.ToString() == Model.Processingstate ? "selected" : "") value="@state.StateId">@state.StateName (@state.StateId)</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Processsing Office</td>
                                <td>
                                    <div class="field">
                                        <select id="Processingoffice" name="processingoffice" class="ui disabled dropdown">
                                            <option value="">Select State</option>
                                            @foreach (ProcessingOffice office in ViewBag.Offices)
                                            {
                                                <option @(office.OfficeId.ToString() == Model.Processingoffice ? "selected" : "") value="@office.OfficeId">@office.OfficeName (@office.OfficeId)</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td class="five wide column">First Name</td>
                            <td class="clearable">
                                @Model.Firstname
                            </td>
                        </tr>
                        <tr>
                            <td class="five wide column">Surname</td>
                            <td class="clearable">
                                @Model.Lastname
                            </td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td class="clearable">
                                @Model.Sex
                            </td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td class="clearable">
                                @DateTime.Parse(Model.Dob).ToString("dd/MM/yyyy")
                            </td>
                        </tr>

                        if (Model.IsAdmin)
                        {
                            <tr>
                                <td>Expiry Date</td>
                                <td class="clearable">
                                    @DateTime.Parse(Model.Expirydate).ToString("dd/MM/yyyy")
                                </td>
                            </tr>

                            <tr>
                                <td>Processsing State</td>
                                <td class="clearable">
                                    @Model.ProcessingStateName (@Model.Processingstate)
                                </td>
                            </tr>

                            <tr>
                                <td>Processsing Office</td>
                                <td class="clearable">
                                    @Model.ProcessingOfficeName (@Model.Processingoffice)
                                </td>
                            </tr>
                        }
                    }
                   
                </tbody>
            </table>

            if (Model.AllowUpdate)
            {
                <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>

                <div class="ui success message">
                    <div class="header">Update Successful</div>
                </div>
                <div class="ui error message">
                    <div class="header">Update Failed. Please try again later</div>
                </div>
            }
        }
    </div>
</div>