﻿@model PassFix.ViewModels.Record

@using (Html.BeginForm(Model.UpdateUrl, "Amu", FormMethod.Post, new { @class = "ui update form", id = "updateform" }))
{
    @Html.HiddenFor(x => x.FormNo)
    @Html.HiddenFor(x => x.SecondFormNo)
    @Html.HiddenFor(x => x.BranchCode)
    @Html.HiddenFor(x => x.Revert)
    <div class="spacebottom">
        <table class="ui table">
            <tbody>
                <tr>
                    <td class="eight wide column">
                        <h4 class="text-centered">Current Face</h4>
                        @if (string.IsNullOrEmpty(Model.FaceCurrentString))
                        {
                            <div class="noface">No Face Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.FaceCurrentString"/>
                        }
                    </td>
                    <td class="eight wide hideonupdate column text-centered">
                        <h4 class="text-centered">Temporary Face</h4>
                        @if (string.IsNullOrEmpty(Model.FaceReplaceString))
                        {
                            <div class="noface">No Face Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.FaceReplaceString"/>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="eight wide column">
                        <h4 class="text-centered">Current Signature</h4>
                        @if (string.IsNullOrEmpty(Model.SignatureCurrentString))
                        {
                            <div class="nosig">No Signature Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.SignatureCurrentString"/>
                        }
                      
                    </td>
                    <td class="eight wide hideonupdate column">
                        <h4 class="text-centered">Temporary Signature</h4>
                        @if (string.IsNullOrEmpty(Model.SignatureReplaceString))
                        {
                            <div class="nosig">No Signature Found</div>
                        }
                        else
                        {
                            <img class="image ui centered" src="@Model.SignatureReplaceString"/>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    if (Model.ShowUpdateButton)
    {
        <div class="ui fluid large teal disabled submit button">@Model.UpdateMsg</div>
    }
    
    
    if (Model.ShowRevert)
    {   
        <div class="ui hidden divider"></div>
        <div id="revertchange" class="ui fluid large disabled submit red button">Revert Change</div>
    }

    <div class="ui success message">
        <div class="header">Update Successful</div>
    </div>
    <div class="ui error message">
        <div class="header">Update Failed. Please try again later</div>
    </div>
}
