﻿@model PassFix.ViewModels.Record

<div class="container">
    <div class="grid">
        <div class="column">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                @if (Model.ShowSearchByDocNo)
                {
                    <label id="searchByString">Search By FormNo</label>
                    <div class="floatright">
                        <div class="searchdoc ui toggle checkbox">
                            <label>Switch</label>
                            <input type="checkbox" name="public">
                        </div>
                    </div>
                    <div class="floatclear"></div>
                    <div class="ui hidden divider"></div>
                    <div id="searchbydoc" class="dontshow">
                        @Html.Partial("_SearchByDocNo")
                    </div>
                }
                <div id="searchbyform">
                    @Html.Partial("_SearchByFormNo")
                </div>
                <div id="searchresults">
                    @Html.Partial("_BaseUpdateViewResult")
                </div>
            </div>
        </div>
        <div>
            @Html.Partial("_TestData", Model.TestInfo)
        </div>
    </div>
</div>