﻿@model PassFix.ViewModels.Record

<div class="container">
    <div class="grid">
        <div class="column">
            <h3>@Model.Title</h3>
            <div class="ui segment">
                <div id="searchbyform">
                    @Html.Partial("_SearchByDocNo")
                </div>
                <div id="searchresults">
                    @Html.Partial("_BaseUpdateViewResultDocNo")
                </div>
            </div>
        </div>
        <div>
            @Html.Partial("_TestData", Model.TestInfo)
        </div>
    </div>
</div>