﻿@model PassFix.ViewModels.DetailedRecord

<div class="container">
    <div class="grid">
        <div class="column wider notprintable">
            <h3>@Model.PageTitle</h3>
            <div class="ui message info"><i class="ui circle info icon"></i>Enter form or passport numbers seperated by a comma. More records will increase the search time. (Max 4)</div>
            <div class="ui segment notprintable">
                @Html.Partial("_DetailedSearchByFormNoAllowComma")
            </div>
        </div>
        <div id="searchresults" class="spacetop10">
               
        </div>
    </div>
</div>