﻿@model PassFix.ViewModels.Record

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new {@class = "ui searchform form"}))
{
    @Html.HiddenFor(x => x.BranchCode, new {@class = "searchbranchcode", name = "searchbranchcode", id = "searchbranchcode"})
     if (Model.ShowSecondFormNo)
     {
         <div class="field">
             <div class="ui left icon input">
                 <i class="search icon"></i>
                 @Html.TextBoxFor(x => x.FormNo, new {placeholder = "Enter Form number: Current Record", type = "number", @class = "numeric", Name = "formno"})
             </div>
         </div>
         <div class="field">
             <div class="ui left icon input">
                 <i class="search icon"></i>
                 @Html.TextBoxFor(x => x.SecondFormNo, new {placeholder = "Enter Form number: Replace With", type = "number", @class = "numeric", Name = "secondformno"})
             </div>
         </div>
         <div class="ui teal submit button">Search</div>

     }
     else
     {
         <div class="field">
             <div class="ui action left icon input">
                 <i class="search icon"></i>
                 @Html.TextBoxFor(x => x.FormNo, new {placeholder = "Enter Form number", type = "number", @class = "numeric", Name = "formno"})
                 <div class="ui teal submit button">Search</div>
             </div>
         </div>
     }
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}