﻿@model PassFix.ViewModels.Payment

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new {@class = "ui searchform form"}))
{
    <div class="ui message info"><i class="ui circle info icon"></i>Branch selection is not required for this function</div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.Aid, new { placeholder = "Enter Application Id", type = "number", @class = "numeric", Name = "aid", @Value = "" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.RefId, new { placeholder = "Enter Reference Id", type = "number", @class = "numeric", Name = "refid", @Value = "" })
        </div>
    </div>
    <div class="ui teal submit button">Search</div>

    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}