﻿@model PassFix.ViewModels.Record

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new { @class = "ui searchlocal form" }))
{
    @Html.HiddenFor(x => x.BranchCode, new { @class = "searchbranchcode", name = "searchbranchcode", id = "searchbranchcode" })
    <div class="ui ignored info message">
        <i class="info icon"></i>
        Enter Formno, Docno or at least <b>two</b> other fields
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.FormNo, new { placeholder = "Enter Form Number", Name = "formno" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.DocNo, new { placeholder = "Enter document number", Name = "docno" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "Enter Firstname", Name = "firstname" })
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.Surname, new { placeholder = "Enter Surname", Name = "surname" })
        </div>
    </div>
    <div class="field">
        <select id="Gender" class="ui genderdropdown dropdown">
            <option  value="">Select Gender</option>
            <option  @(Model.Gender == "M" ? "selected" : "") value="M">Male</option>
            <option  @(Model.Gender == "F" ? "selected" : "") value="F">Female</option>
        </select>
    </div>
    
    <div class="ui teal submit button">Search</div>
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}

