﻿@model PassFix.ViewModels.Record

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new { @class = "ui searchform form" }))
{
    @Html.HiddenFor(x => x.BranchCode, new { @class = "searchbranchcode", name = "searchbranchcode", id = "searchbranchcode" })
    <div class="field">
        <div class="ui action left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.Username, new { placeholder = "Enter login name", Name = "username" })
            <div class="ui teal submit button">Search</div>
        </div>
    </div>
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}