﻿@model PassFix.ViewModels.Record

@using (Html.BeginForm(Model.SearchUrl, "Amu", FormMethod.Post, new { @class = "ui searchform form" }))
{
    @Html.HiddenFor(x => x.BranchCode, new { @class = "searchbranchcode", name = "searchbranchcode", id = "searchbranchcode" })
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.FormNo, new { placeholder = "Form number of record with photo and signature", type = "number", @class = "numeric", name = "formno"})
        </div>
    </div>
    <div class="field">
        <div class="ui left icon input">
            <i class="search icon"></i>
            @Html.TextBoxFor(x => x.DocNo, new { placeholder = "Passport number of previous document", name = "docno" })
        </div>
    </div>
    <div class="ui teal submit button">Search</div>
   
    <div class="ui error message">
        <div class="header">Invalid search details</div>
    </div>
}