﻿@model List<PassFix.ViewModels.TestInfo>

@if (Model != null && Model.Count != 0)
{
    <div class="ui segment testdata">
        <div class="ui ignored info message">
            <i class="info icon"></i>
            Test Data
        </div>
        <table class="ui definition table">
            <tbody>
            @foreach (var test in Model)
            {
                <tr>
                    <td class="four wide column">@test.Name</td>
                    <td class="five wide column">@test.Value</td>
                    <td class="five wide column"></td>
                    <td class="two wide column">
                        <i class="@(test.Pass ? "smile" : "frown") icon"></i>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}