﻿/* Misc */

table
{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 5px;
    padding-right: 80px;
    padding-top: 10px;
}

.formdiv
{
    background-color: #f9f9f9;
}

th
{
    width: 207px;
    text-align: right;
    padding-right: 10px;
    vertical-align: sub;
    padding-top: 3px;
}

tr.tablespacetop > td
{
    padding-top: 10px;
}

input[type="checkbox"] 
{ 
    margin-right: 10px; 
    vertical-align: middle;
    position: relative;
    bottom: -2px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    padding: 10px;
    cursor: pointer;
}

.button
{
    background-color: #8D2136;
    text-align:center;
    color:White;
    border: none;
    cursor: pointer;
    line-height: 28px;
    height: 34px;
    padding: 0px 25px !important;
    font-size: 14px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}

.groupbox
{
    padding: 10px;
    background-color: white;
    border: 1px solid #e3e3e3;
    margin: 5px 5px 5px 0px;
}

.label
{
    padding-right: 10px;
    line-height: 26px;
    width: 130px;
    text-align: right;
    color: #005180;
    display: table-cell;
    vertical-align: middle;
}


.labeltxt
{
    color: #333;
    padding-right: 10px;
    text-align: left;
    padding-left: 7px;
    line-height: 22px;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
}

.textbox
{
    width: 250px;
    border: 1px solid #ccc;
    height: 26px;
    padding-left: 5px;
    margin: 0px 0px 10px 0px;
    background-color: #f9f9f9;
}

.lasttextbox
{
    margin-bottom: 0px !important;
}

.jdpicker
{
    width: 110px;
    border: 1px solid #ccc;
    padding-left: 5px;
    background: #f9f9f9 url(/images/calender.jpg) no-repeat 96px 7px;
    height: 26px;
}

.selectbox
{
    width: 255px;
}

.searchoption
{
    display: none;
}

.validation-summary-errors
{
    color: red;
    margin-left: -30px;
}

.validation-summary-errors ul
{
    list-style-type: none;
}

.button:hover
{
    opacity: 0.7;
}

.left
{
    float: left;  
}

.right
{
    float: right;  
}

.hrline
{
    background-color: #ccc;
    margin: 0px 0px 15px 0px;
}

.centered
{
    margin: 0px auto;    
}

.verticalmiddle
{
    display: inline-block;
    vertical-align: middle;
}

.graybg
{
    background-color: #f4f4f4;
}

.grayleftborder
{
    border-left: 1px solid #ccc;
    padding-bottom: 10px;
}

.padded
{
    padding: 10px;
}

.paddednotop
{
    padding: 0px 10px 10px 10px;
}

.table
{
    display: table;
    vertical-align: top;
    width: 100%;
}

.bigfirstletter:first-letter
{
    font-size: 23px;
    color: #2F7144;
}

.spaced
{
    padding: 5px;
}

.spacedown
{
    padding-bottom: 10px;
}

.spacedownx2
{
    padding-bottom: 20px;
}


.spacetop
{
    padding-top: 10px;
}

.spacetopx2
{
    padding-top: 20px;
}

.spaceleft
{
    padding-left: 10px;
}

.spaceleftx2
{
    padding-left: 20px;
}

.spacedownm
{
    margin-bottom: 10px;
}

.spacetopm5
{
    margin-top: 5px;
}

.spacedm
{
    margin: 10px 0px;
}

.spacetopm
{
    margin-top: 10px !important;
}

.spacetopmx2
{
    margin-top: 20px;
}

.clear
{
    clear: both;   
}

.relative
{
    position: relative;   
}

.absolute
{
    position: absolute;   
}

.slightRounded
{
    border-radius: 2px 2px 2px 2px; 
    -moz-border-radius: 2px 2px 2px 2px; 
    -webkit-border-radius: 2px 2px 2px 2px; 
	-khtml-border-radius:  2px 2px 2px 2px; 
}

.shadow
{ 
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);  
}
   
.whitebg
{
    background-color: white;
}

.labelval
{
    color: #2F7144;
    font-size: 18px;
    line-height: 22px;
}

.blue
{
    color: #369 !important;
    font-weight: bold;
}

.disabled
{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.inlineblock
{
    display: inline-block;
}

.firstcapitalise:first-letter {
    text-transform: uppercase;
}

.capitalisewords
{
    text-transform: capitalize;
}

.tableparent
{
    display: table;
    border-spacing: 10px 0px;
}

.tableparentmargin
{
    margin-left: -20px;
}

.tablecell
{
    display: table-cell;
    vertical-align: top;
}

.hidden{
    display: none;
}

.field-validation-error {
    color: red;
    padding-top: 5px;
    padding-left: 5px;
    display: inline-block;
}

.smallmodal {
    display:    none;
    text-align: center;
    position:   absolute;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     35px;
    width:      100%;
    background: transparent url('/images/loading.gif') 50% no-repeat;
}

.loading  {
    overflow: hidden;   
    position: relative;
}

.loading .smallmodal {
    display: block;
}

.loadingdiv
{
    height: 35px;
    width: 35px;
    margin: 0px 7px 0px 7px;
}

/* tables */

.tabletitle
{
    font-size: 18px;
    color: #333;
    padding: 5px 0px 0px 8px;
    margin-bottom: 5px;
    text-align: left;
}

.tableheader
{
    font-size: 15px;
    background-color: #005180;
    color: white;
}

/* A row */
.tablediv > div 
{
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-right: 5px;
    box-sizing: border-box;
}

/* a cell */
.tablediv > div > div
{
    display: table-cell;
    padding: 5px 0px;
    padding-left: 10px;
    box-sizing: border-box;
}

.even
{
    background-color: #f4f4f4;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
