﻿.toolsbg {
    opacity: 0.05;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-65%);
    z-index: -1;
}

.toolsbg .fa-stack{
    position: relative;
    left: -50%;
    margin-left: 17rem;
    font-size: 15em;
}

.ui.vertical.menu .menu .item {
    padding: 0.5em 1em;
    color: #777;
}

.ui.accordion .accordion {
    margin: 0;
}

.tools {
    width: 100%;
    height: 100%;
}

.ui.vertical.inverted {
    height: 100%;
}

.nomsg {
    font-size: 16px !important;
    text-align: center !important;
    padding: 30px 0 !important;
}

.modal s.vertical.menu .item {
    max-height: 300px;
    overflow-y: auto;
}

.seperate {
    height: 10px;
}

.ui.horizontal.segments {
    margin: 10px;
    background-color: #f4f4f4;
}

.optionselected {
    color: white !important;
    background-color: teal !important;
}

.segmentheader {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.searchbox {
    padding: 2px !important;
}

.spaceleft {
    margin-left: 10px !important;
}

.spacedownm {
    margin-bottom: 10px !important;
}

.ui.transparentbtn {
    background-color: transparent;
    padding: 5px 0 0 0;
    cursor: default;
    display: none;
}

.button.viewdisabledusers {
    margin-bottom: 20px;
}

.dontshow {
    display: none;
}

.spacebottom {
    margin-bottom: 20px;
}

.tools .column {
    max-width: 500px;
}

.column.biowide {
    max-width: 785px;
}

.tools .column.wider {
    max-width: 600px;
}

.tools .column.full {
    max-width: initial;
}

.tools .searchform.ui.loading.form:after {
    border-style:  none;
}

.tools .searchform.ui.loading.form:before {
    background: none;
}

.tools .auditsearch .ui.selection.dropdown {
    min-width: 20em;    
}

#workspace {
    padding: 0em 2em 3em 20em;
}

.signaturewidth {
    max-width: 240px;
    max-height: 40px;
}

.max400 {
    min-width: 300px;
    max-width: 400px !important;
}

.max100 {
    width: 100%;
}

.spacetop {
    margin-top: 40px !important;
}

.spacetop10 {
    margin-top: 10px;
}

#selectBranch {
    padding: 2.5em 2em 2em 20em;
    display: none;
}

#selectBranch .ui.button {
    background: #efefef none;
}

#selectBranch .search.icon.button {
    min-width: 220px;
}

.redbg {
    background-color: #FFF6F6;
}

.blackbg {
    background-color: #090a0a;
    color: white;
    padding: 5px;
    margin: 15px 0px 0px 0px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.ui.form textarea {
    resize: none;
    height: 80px !important;
    min-height: 80px !important;
}

.ui.divider {
     margin: 0.5rem 0rem;
}

ul.pagination, ul.pagination li {
    margin:0;
    padding:0;
    list-style:none;
}

ul.pagination{
    margin:10px 0;
}

ul.pagination li span {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 3px;
}

ul.pagination li a {
    background-color: #fff;
    border: 1px solid #ddd;
    position: relative;
    float: left;
    padding: 5px 10px;
    color: #0275d8;
    text-decoration: none;
    cursor:pointer;
    margin-right:3px;
    transition: background-color .3s;
}

ul.pagination li a:focus, ul.pagination li a:hover, ul.pagination li a.active {
    background-color: #eceeef;
    color: #014c8c;
    border-color: #ddd;
}

ul.pagination .disabled {
    display: none;
}

.table .arrowup:after {
    content: '\2191';
    margin-left: 5px;
}

.table .arrowdown:after {
    content: '\2193';
    margin-left: 5px;
}

th.orderby {
    cursor: pointer !important;
}

th.orderby:hover {
    color: #2185D0 !important;
}

.numberperpage {
    width: 130px;
    min-width: 0px !important;
}

.highertable {
    margin-bottom: 0 !important;
    border-bottom: none !important;
    border-radius: 4px 4px 0px 0px !important;
}

.lowertable {
    border-radius: 0px 0px 5px 5px !important;
    margin-top: 0 !important;
    border-top: none !important;
}

.editfloat {
    margin-top: -3px;
    margin-bottom: 3px;
}

.testdata {
    position: absolute !important;
    right: 10px;
    top: 150px;
}

.smile {
    color: green;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
}

.frown {
    color: red;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
}

.ui.definition.table tr td:first-child:not(.ignored) {
    background: rgba(0, 0, 0, 0.08) !important;
}

.item.addaction, .item.removeaction {
    background-color: #f4f4f4 !important;
    padding-bottom: 2px !important;
}

#manageSubclasses .addaction, #manageSubclasses .removeaction {
    padding-top: 0 !important;
    margin-top: -5px !important;
}

.menu.selectable {
    background-color: white;
}

.viewtables.selected {
    background-color: rgba(200,200,200,0.3)
}

.rowheader {
    background-color: #f4f4f4;
}

.topmargin5 {
    margin-top: 5px !important;
    display: none;
}

.tablehead {
    cursor: pointer;
}

#viewTableDetails h3 {
    margin-bottom: 5px;
    padding-left: 5px;
}

#searchByString {
    font-weight: bold;
    padding-left: 5px;
}

.nosig {
    height: 81px;
    margin: 0px auto;
    line-height: 81px;
    color: red;
    text-align: center;
}

.noface {
    height: 320px;
    line-height: 320px;
    margin: 0px auto;
    color: red;
    text-align: center;
}

.ui.definition.table thead:not(.full-width) th:first-child {
    pointer-events: auto;
    background: #F9FAFB;
    font-weight: bold;
    color: initial;
    box-shadow: none;
}

.selectclass a.item {
    display: block;
    padding: 7px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #666;
}

.selectclass a.item:hover :not(.active) {
    color: teal;
}

a.active.item {
    background-color: teal;
    color: white;
}

.selectclass {
    padding: 7px 0px;
}

.nopadding {
    padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.borderless {
    border: none !important;
    margin-top: -10px;
}

#manageSubclasses .column {
    max-width: initial;
}

.grid .ui.vertical.menu {
    width: 100%;
}

.nospacetop {
    margin-top: 0 !important;
}

@media print {
    body {
        zoom: 85%;    
    }

   .notprintable, footer {
       display: none !important;
   }

    .ui.table td {
        padding: 0.5em 0.78571429em !important;
    }

    .face {
        height: 240px;
    }

    #workspace {
        padding: 0;
    }

    .signaturewidth {
        width: auto;
        height: 40px;
    }

    img.max100 {
        height: 200px;
        width: auto;
    }
}